In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("/home/hajar/git_workplace/DSI-Mini-Course/data/grocery_sales.csv")

In [7]:
data.head()

   customer_id transaction_date  transaction_id   sales
0           58       2020-09-01    437091488759   29.93
1           80       2020-09-01    437092271839   11.50
2           41       2020-09-01    437093560410  101.56
3           25       2020-09-01    437096216909   83.01
4            2       2020-09-01    437096888457     NaN

In [10]:
#check missing values
data.isna().sum()

customer_id         0
transaction_date    0
transaction_id      0
sales               4
dtype: int64

In [11]:
#filling missing values with the mean
avg_sales = data["sales"].mean()
data["sales"].fillna(value = avg_sales, inplace = True )

In [12]:
data.head()

   customer_id transaction_date  transaction_id       sales
0           58       2020-09-01    437091488759   29.930000
1           80       2020-09-01    437092271839   11.500000
2           41       2020-09-01    437093560410  101.560000
3           25       2020-09-01    437096216909   83.010000
4            2       2020-09-01    437096888457   56.127617

In [13]:
#sum sales by date
sales_summary = data.groupby("transaction_date")["sales"].sum()

In [14]:
sales_summary

transaction_date
2020-09-01     379.487617
2020-09-02     656.370000
2020-09-03     465.050000
2020-09-04     490.027617
2020-09-05     222.980000
2020-09-06     539.670000
2020-09-07     558.340000
2020-09-08     492.480000
2020-09-09     119.700000
2020-09-10     661.160000
2020-09-11     506.160000
2020-09-12     553.400000
2020-09-13     563.170000
2020-09-14     798.020000
2020-09-15     535.850000
2020-09-16     298.550000
2020-09-17     631.547617
2020-09-18     760.340000
2020-09-19     247.770000
2020-09-20     241.370000
2020-09-21    1007.210000
2020-09-22    1147.620000
2020-09-23     515.320000
2020-09-24     565.187617
2020-09-25     264.250000
2020-09-26     476.740000
2020-09-27    1057.380000
2020-09-28     363.880000
2020-09-29     232.100000
2020-09-30     420.730000
Name: sales, dtype: float64